nav {
    background-color: rgb(205, 221, 226);
    height: 50px;
    
  }
  
  ul {
    display: flex;
    list-style: none;
  }
  
  li {
    margin: 0;
    padding:0;
  }
  
  a {
    text-decoration: none;
    color: white;
    padding: 20px;
  }